.CustombuttonMultiple{
    background-color: #E1EAED;
    /* border-radius: 4px; */
    /* display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* padding: 14px ; */
    gap: 12px;
    width: max-content;
    /* padding: 0px; */
    /* border-style: solid 10px; */
}

.okDrawNew{
    /* background-color: #85BBC6; */
    padding: 7px 12px 7px 12px;
    border-color: #000;
    color: #7CBEBC;
    /* margin: 2px; */
    
}